<div class="container">
  <div class="col-xs-12">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" can-click="{sortAlphabetically}">sort alphabetically</button>
    </div>
    <div class="btn-group" role="group">
      <button  type="button" class="btn btn-default" can-click="{showAll}">all accesories</button>
      <button  type="button" class="btn btn-default" can-click="{showMen}">men accesories</button>
      <button  type="button" class="btn btn-default" can-click="{showWomen}">women accesories</button>
      <button  type="button" class="btn btn-default" can-click="{showChildren}">children accesories</button>
      <button  type="button" class="btn btn-default" can-click="{showSports}">sports accesories</button>
    </div>
  </div>
  {{#each products}}
    {{#if visible}}
      <div class="col-xs-3">
        {{name}}<br/>
        {{price}}<br/>
        <div class="product-image" style="background-image: url(img/{{image}})">
      </div>
    {{/if}}
  {{/each}}
</div>
