<button can-click="{sortAlphabetically}">sort alphabetically</button>
<br/>
<button can-click="{showAll}">all accesories</button>
<button can-click="{showMen}">men accesories</button>
<button can-click="{showWomen}">women accesories</button>
<button can-click="{showChildren}">children accesories</button>
<button can-click="{showSport}">sport accesories</button>
{{#each products}}
  {{#if visible}}
    <div style="border:solid 3px black">
      {{name}}<br/>
      {{price}}<br/>
      {{image}}
    </div>
  {{/if}}
{{/each}}
